.profile__edit {
  background: url(../../../images/edit.svg) center/contain no-repeat;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  width: 18px;
  height: 18px;
  padding-left: 30px;
  outline: 0px;
}

@media screen and (min-width: 1024px) {
  .profile__edit {
    width: 24px;
    height: 24px;
    padding-left: 50px;
  }
}

